*{
    margin: 0;
    padding: 0;
    color: aliceblue;
    /* background-color:  #1c2833; */
    
    
    
}
body{
    background-color:  #1c2833;
}

.background{
    height: 100px;
    width: 100px;
    background-color: black;
}

.topbar{
    
    background-color: black;
    border: 12px solid black;
    text-align: center;
    width: auto;

    
     
}

a{
    margin: 5px 30px  ;
    background-color: black ;
    text-decoration:none;
    font-family: 'Staatliches', Courier, monospace;
    font-size: 30px;
    transition: transform .2s;   
    
    border-radius: 7px;
}
a:hover {
    transform: scale(1.5);
    background-color: bisque;
    color: black ;  
}
.fa-brands{
    padding: 10px;
    margin: 5px 0px;
    font-size: 30px;
    background-color: black;
}
i:hover{
    background-color: #DCDCDC;
    color: black;
    border-radius: 7px;
    
}
b{
    background-color: aqua;
}

.text1{
    margin-top: 50px;
    font-size: 10vw;
    font-family: 'Bebas Neue';
    margin-left: auto;
    margin-right: auto;
    line-height: 1;
   
    
    width: 22cm;
   
    box-align: center;
    text-align: center;
    transition: transform .2s;
    width: max-content;
    letter-spacing: 2px;

    color: #fff;
   


}
.text1:hover{
    transform: scale(1.1);
   
    color: black ; 
    text-shadow:
      0 0 7px #fff,      
      0 0 102px #0fa,
      0 0 151px #0fa;
   
    
}
.textb{
    font-weight: 1000;
}

.intro2{
    text-decoration: none;
    margin: 20px;
    text-align: center;
    font-size: large;
    font-family: Calligraffitti, Courier, monospace;

}

.box1{
    
    background-color: #040f21;
    border-radius: 7px;
    margin-top: 50px;
    max-width: 20%;
    max-height: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;

   
    
    text-align: center;
    color: #1c2833;
    font-family: Anton, Courier, monospace;
    
    font-size: 20px;
}
.box1:hover{
    text-shadow:
    0 0 7px rgb(0, 0, 0),      
    0 0 102px rgb(8, 49, 126),
    0 0 151px rgb(8, 67, 231);  
    
}
.box1:hover>h1{
    text-decoration: underline;
   
    
}

.box2{
    
    background-color: #040f21;
    border-radius: 7px;
    margin-top: 50px;
    padding: 2%;
    max-width: 20%;
    max-height: max-content;
    margin-left: auto;
    margin-right: 10%;
    text-align: center;
    color: #1c2833;
    font-family: Anton, Courier, monospace;
    font-size: 20px;
}
.box2:hover{
    text-shadow:
    0 0 7px rgb(0, 0, 0),      
    0 0 102px rgb(8, 49, 126),
    0 0 151px rgb(8, 67, 231);  
}

.box3{
    
    background-color: #040f21;
    border-radius: 7px;
    margin-top: 50px;
    max-width: 20%;
    padding: 2%;
    max-height: max-content;
    margin-left: 10%;
    margin-right: auto;
    text-align: center;
    color: #1c2833;
    font-family: Anton, Courier, monospace;
    font-size: 20px;
    margin-bottom: 50px;
}
.box3:hover{
    text-shadow:
    0 0 7px rgb(0, 0, 0),      
    0 0 102px rgb(8, 49, 126),
    0 0 151px rgb(8, 67, 231);  
}

input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #555;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-color: black;
    color: white;
    font-size: large;
    border-radius: 20px;
  }

input:focus {
    
    border: 3px solid #ccc;
}

input[type=submit]:active {
    
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #555;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-color: rgb(8, 27, 43);
    color: white;
    font-size: large;
    border-radius: 20px;
    font-family: 'Titan One', Times, serif;
  }

input[type=submit]:hover {
    
    border: 3px solid black;
    background-color: #0fa;
    color: black;
    
}






.gmail_enter{
    margin-left: 30%;
    margin-top: 10%;
    font-family: Staatliches, Courier, monospace;
    font-size: 150%;
    color: black;
}
.phone_enter{
    margin-left: 30%;
    margin-top: 2%;
    
    font-family: Staatliches, Courier, monospace;
    font-size: 150%;
    color: black;

}

.form{
    background-color:  #1abc9c;
    height: 40%;
    border-radius: 30px;
    background-image: url("walop.jpg" );
    padding: 10;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 2%;
    
    
}
.footer {
    position: fixed;
    padding: 10px 10px 10px 10px;
    bottom: 0;
    text-align: center;
    width: 100%;
    
    height: 10px;
    background: rgba(61, 61, 61, 0.6);
    font-size: 10px;
    
}